@import '../node_modules/nouislider/distribute/nouislider.css';

// overwrite nouislider class
.noUi-marker-horizontal.noUi-marker-large {
    height: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
    width: 10px;
}

.noUi-horizontal {
    height: 10px;

    & .noUi-handle {
        height: 20px;
        width: 26px;
    }
    
    & .noUi-handle:before {
        height: 10px;
        top: 4px;
        left: 10px;
    }

    & .noUi-handle:after {
        height: 10px;
        top: 4px;
        left: 12px;
    }

    & .noUi-tooltip {
        top: 20px;
        bottom: initial;
    }
}

.noUi-vertical {
    width: 10px;

    & .noUi-handle {
        height: 26px;
        width: 20px;
    }

    .noUi-handle:before {
        width: 10px;
        top: 10px;
        left: 4px;
    }

    .noUi-handle:after {
        width: 10px;
        top: 12px;
        left: 4px;
    }

    & .noUi-tooltip {
        left: 20px;
        bottom: initial;
        right: auto;
    }
}

.noUi-handle {
    &:focus {
        .noUi-tooltip {
            display: block;
        }
    }
}

.noUi-tooltip {
    padding: 1px 4px;
    display: none;
}

// chart panel
.rv-chart-panel {
    height: 100%;
    overflow: hidden;
    display: flex;
    padding: 0 10px;

    & .rv-chart-sliderY {
        padding-right: 50px;
        display: flex;
        & #nouisliderY {
            height: 60%;
            align-self: center;
        }
    }

    & .rv-chart-canvas {
        height: 100% !important;
        display: flex;
        width: 100%;
    }

    & .rv-chart-sliderX {
        justify-content: center;
        display: flex;
        height: 60px;

        & #nouisliderX {
            width: 90%;
        }
    }
}

// custom details panel
.rv-chart-details-value {
    padding: 8px 16px;

    & body {
        background-color: #FFF;
    }
}