// set plugin sass style
#thematicSlider {
    z-index: 50 !important;
}

.rv-thslider-bar-control {
    bottom: 0px;
    position: absolute;
    width: 100%;
    text-align: center;
}

.rv-thslider-index {
    position: absolute;
    bottom: 5px;
    right: 10px;
}